.page {
	display: flex;
	justify-content: flex-end;
}

.bio {
	font-weight: normal;
	font-size: 30px;
}

.project__logo{
	height: 200px;
    width: 100%;
}

.main{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	text-align: left;
	margin: 0 auto;
}

.articlehead__date {
	color: gainsboro;
	display: : flex;
	flex-direction: row;
	align-items: : center;

}

.articlehead__responses {
	color: gainsboro;
	display: flex;
	flex-direction: row;
	align-items: : center;

}



.articlehead {
	display: flex;
	align-items:  center;
	flex-direction: column;
	justify-content: flex-start;
}

.articlebody {
	display: flex;
	align-items: center;
	flex-direction: column;
}


.bottom {
	display: flex;
	flex-direction: row;
}

.bottom__twitter {
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
}

.bottom__hire {
	display: flex;
	justify-content: flex-end;
}

.bottom__rss {
	display: flex;
	justify-content: flex-end;	
}

.page__articles{
	padding: 20px 20px 20px 20px;
}

.page__notes{
	padding: 20px 20px 20px 20px;
}

.page__info{
	padding: 20px 20px 20px 20px;
}

.page__search{
	padding: 20px 20px 20px 20px;
}

.logo{
	padding: 20px 20px 20px 20px;
	height: 50px;
	width: 50px;
}

